{% extends "layout.html" %}

{% block title %}
    {{ choice }}
{% endblock %}

{% block nav %}
<div id="nav_container_for_burger">
  <div class="nav_box_img">
  </div>
  
    <div class="nav_box_txt">
  <p id="titleTextBox"><strong class="topHead">Food Storage</strong><br><strong class="topHead2"><span class="cpr">C</span>heck><span class="cpr">P</span>repare><span class="cpr">R</span>otate</strong></p>
    </div>

<div class="burger__box">
    <button class="burger__nav_toggle">
    <img class="burger__logo" src="/static/burger.png"></i>          
    </button>           
    
</div><!--End Nav Container-->
</div><!--End burger_box-->

    <div class="burger__links--box">
        <a href="/freezer"><button class="burger__links--btn" type="button">Back</button></a><a href="/freezer_content_update"><button class="burger__links--btn" type="button">Update</button></a>
    </div>
{% endblock %}

{% block main %}
<h2 class="table__h2--freezer">{{ choice }}:</h2>
{% for my_shelf in my_shelf %}
<div class="shelf_container">
    <h3 class="table__h3--cooler">Shelf: {{ my_shelf.shelf }}</h3>
    <div class="items_table_freezer">
        <table>
            <thead>
                <tr>
                    <th class="items_row">Name</th>
                    <th class="items_row">Brand</th>
                    <th class="items_row">#Ptns-Total</th>
                    <th class="items_row">Production</th>
                    <th class="items_row">Expiry</th>
                    <th class="items_row">#Ptns</th>
                    <th class="items_row">#Batches</th>
                    <th class="items_row">#Ptns/Batch</th>
                    <th class="items_row">Prep</th>
                    <th class="items_row">Updated</th>
                    <th class="items_row">User</th>
                </tr>
            </thead>
            <tbody>
                {% for items in items %}
                
                {% if items.shelf == my_shelf.shelf %}
            <tr>
                {% if items.exp_flag == "True" %}
                <td class="flag__Exp--on--name">{{ items.name }}</td>
                {% elif items.age_flag == "True" %}
                <td class="flag__age--on--name">{{ items.name }}</td>
                {% else %}
                <td class="flag__nearExp--off">{{ items.name }}</td>
                {% endif %}

                <td>{{ items.brand }}</td>
                <td>{{ items.portions_total }}</td>
                <td>{{ items.production }}</td>
                
                {% if items.exp_flag == "True" %}
                <td class="flag__Exp--on">{{ items.expiry }}</td>

                {% elif items.age_flag == "True" %}
                <td class="flag__age--on">{{ items.expiry }}</td>

                {% else %}
                <td class="flag__nearExp--off">{{ items.expiry }}</td>

                {% endif %}

                <td>{{ items.num_portions }}</td>
                <td>{{ items.num_batches }}</td>
                <td>{{ items.batch_size }}</td>

                {% if items.prep_flag == "on" %}
                    <td class="flag__prep--on"></td>
                {% else %}
                    <td class="flag__prep--off">-</td>
                {% endif %}

                <td>{{ items.updated_on }}</td>
                <td>{{ items.updated_by }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block js %}
<script src="/static/script_burger.js" defer></script>
{% endblock %}