{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block nav %}
<div id="nav_container">
    <div class="nav_box_img nav_box_img_small">
    </div>
    
    <div class="nav_box_txt">
    <p id="titleTextBox"><strong class="topHead">Food Storage</strong><br><strong class="topHead2"><span class="cpr">C</span>heck><span class="cpr">P</span>repare><span class="cpr">R</span>otate</strong></p>
    </div>
  </div><!--End Nav Container-->
{% endblock %}

{% block main %}
<form action="/login" method="post">
        <div class="log_fields">
            <input autocomplete="off" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="log_fields">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
    
    <div class="login_button">
        <button class="loginButton" type="submit">Submit</button>
    </div>
</form>

{% endblock %}