{% extends "layout.html" %}

{% block title %}
    Registration Success!
{% endblock %}

{% block nav %}
<div id="nav_container">
  <div class="nav_box_img nav_box_img_small">
  </div>
  
  <div class="nav_box_txt">
  <p id="titleTextBox"><strong class="topHead">Food Storage</strong><br><strong class="topHead2"><span class="cpr">C</span>heck><span class="cpr">P</span>repare><span class="cpr">R</span>otate</strong></p>
  </div>
</div><!--End Nav Container-->
{% endblock %}

{% block main %}
<div class="mb-3">
    <p class="success">Registration Successful!</p>
</div>
<script>timeout = window.setTimeout(function(){
  window.location.href="/main";
  }, 1500);</script>
{% endblock %}